@import url('/font-awesome-6.5.1/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Satisfy&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
:root{  --primary-color: #35b9be;   --second-font: 'Satisfy', cursive; --h2-font: montserrat;  --ft-wt-5: 500; --ft-wt-6: 600; --ft-awe: fontawesome;  --ft-awe-c: #007d82;    --lt-s:1px;    }
body{   padding: 0; margin: 0;  font-family: poppins;    }
ul{ padding: 0; margin: 0;  }
a{  text-decoration: none;  color: initial; }
a:hover{    color: initial;}
.fw-500{    font-weight: var(--ft-wt-5);   }
.fw-600{    font-weight: var(--ft-wt-6);    }
.py-10{ padding: 110px 0;   }
.primary-clr{   color: #35b9be !important;  }
.size-fit{  width: 100%;    height: auto;   }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {  -webkit-appearance: none; margin: 0;    }
.let-spac{  letter-spacing: var(--lt-s);    }
.wd-auto{   width: auto;    height: 100%;   }
.ht-auto{   height: auto;   width: 100%;    }
.ms-25{    margin-left: -25px;   }
.fs-7{  font-size: 0.8rem;  }

/* Button */
.btn{   background: var(--primary-color);   position: relative; overflow: hidden;}
.btn:hover{ background-color: var(--primary-color);  }
.btn:focus{ box-shadow: none;   }
.btn::before{   content: "\f818";    position: absolute; font-family: var(--ft-awe);    color: var(--ft-awe-c); top: 50%; left: 30%;    transform: translate(-50%, -40%) scale(4);  z-index: 0; opacity: 0.5;}
.btn a{ color: #fff;    position: relative; z-index: 5; }
.br-10{ border-radius: 10px;    }

/* Image */
img{    width: 100%;    height: auto;   }
.r-p  {  padding: 0 12rem 0 6rem;    }
.right .img{    border-radius: 1.5rem;    }

h2{ color: var(--primary-color);    font-weight: 900;   font-size: 3.5rem;    font-family: var(--h2-font);  }
.toptobottom{ word-wrap: break-word; width: 3.5rem;   font-size: 1.5rem;}
.box-shadow{    box-shadow: 0px 0px 5px #00000055;  }


/* Header */
header .logo .fa-solid{font-size: 50px;  color: var(--primary-color);  }
.header-top{    font-size: 0.9rem;  font-family: poppins;   background-color: var(--primary-color);}
header .header-btm .cart{   background-color: var(--primary-color);   padding: 1rem 1.2rem; }
header .cart .fa-solid{   color: #fff;    }


/* Hero Banner */
/* #hero-banner::before{   clip-path: ellipse(35% 46% at 100% 0%);  background-color: #35b9be11;   height: 100px;    width: 100px;    position: absolute; z-index: 0;} */
#hero-banner::before{   content: url('/assets/images/hero-bnr-bg-clippath.svg');    position: absolute; z-index: -1;    opacity: 0.1;   right: 0;   top: 0; }
#hero-banner h1{    padding-right: 10rem;    font-size: 2.6rem;   }
#hero-banner .left > img{   height: 2rem;   }
#hero-banner .left > p span{    color: var(--primary-color);    }
#hero-banner .right{        padding: 0 10rem 0 5rem;    }
#hero-banner .right > img:first-child{    border-radius: 6rem 1rem 1rem;  }
#hero-banner .right .hr-bnr-main-img{    height: 13rem;  width: 13rem;   z-index: 50;    top: 450px;  right: 100px;    }
#hero-banner .right .hr-bnr-main-img img{    transform: scaleX(-1); }
#hero-banner .right .google{    height: 4rem;   width: 4rem;    z-index: 51;    top: 500px;  left: 310px;   overflow: hidden;   }
#hero-banner .right .apple{ height: 3rem;   width: 3rem;    z-index: 51;    top: 470px; left: 500px;   overflow: hidden;   }
#hero-banner .right .apple .size-fit{   width: auto;    height: 100%;   margin-left: -10px; }
#hero-banner .right::after{   content: url('/assets/images/party-confettis-svg.svg');   position: absolute; z-index: 52;    transform: scale(0.8);  bottom: -100px;  left: 0;    }


#abt-us::before, #br-menu::before{    content: url('/assets/images/aboutus-bg-polygon.svg'); position: absolute; z-index: -2;    opacity: 0.2;   left: 50%;   top: 50%;  transform: translate(-50%, -50%) scaleX(1.9) scaleY(1.5);    }
#abt-us::after{ content: "yumyum";  font-size: 100px;   position: absolute; top: 30%;   left: 14rem;  font-family: var(--second-font);    color: var(--bs-white); z-index: -1;    font-size: 200px;   rotate: -8deg;}

/* About Us  *//* Take Away */
    /* Right */
    #abt-us .right .or-now, #takeaway .right .or-now{ background-color: var(--primary-color); top: 60%;   left: 11%;  transform: translate( 0%, -60%);    overflow: hidden;}
    #abt-us .right .or-now::before{ content: url('/assets/images/party-confettis.png'); position: absolute; opacity: 0.5;   top: 50%; left: 50%;  transform: translate(-50%, -50%) scale(0.8) rotate(35deg); z-index: -1;}
    #abt-us .right .flt-img{    width: 100px;   height: 100px;  top: 30%;   right: 22%;}
    #abt-us .right .flt-img .img{   width: auto;    height: 100px;  margin-left: -100px;    }

/* How it Works */
#hiw .row{  margin-top: 5rem;  }
#hiw .row::after, #hiw .row::before{    content: "------------";  position: absolute; top: 50%;   left: 36.5%;}
#hiw .row::after{   left: auto; right: 36.5%; }
#hiw .col-sm-3 .step-img{    overflow: hidden;   height: 250px;  width: 250px;   margin: auto;}
#hiw .col-sm-3 .step-img img{    width: auto;   height: 100%;   }  

    /* Step 1 */
    #hiw .col-sm-3:first-child::before{ content: "\f290"; font-family:  fontawesome;    font-size: 25px;    position: absolute; top: 3.5rem;   z-index: 50;    right: 3.5rem;    display: inline-block; color: var(--primary-color);    background: var(--bs-white);    padding: 10px 18px;  border-radius: 10px;    box-shadow: 0px 0px 8px #00000055; }
    #hiw .col-sm-3:first-child::after{  content: "3";   position: absolute; top: 2.7rem;  right: 2.5rem;    z-index: 53;    color: var(--bs-white);         background-color: var(--primary-color); border-radius: 50px; padding: 2px 8px;  font-size: 0.8rem;    border: 4px solid #fff;   box-shadow: 0px 0px 5px #00000055; }

    /* Step 2 */
    #hiw .col-sm-3 .google{ background-color: var(--bs-white);  top: 6rem; height: 60px;   padding: 15px;    }
    #hiw .col-sm-3 .google img, #hiw .col-sm-3 .apple img{ width: 100%;    height: 100%;   }
    #hiw .col-sm-3 .apple{  background-color: var(--bs-white);  top: 15%; height: 40px;   padding: 8px;    width: 40px;    right: 15%;}   

    /* Step 3 */
    #hiw .col-sm-3:last-child::before{ content: "";   display: inline-block;   height: 70px;   width: 70px;    overflow: hidden;   border-radius: 50%; border:  5px solid #fff; box-shadow: 0 0 10px #00000055;  position: absolute;   top: 18%;   left: 5%;    background: url('/assets/images/testimonial-per-3.png');    background-position: center;    background-repeat: no-repeat;   background-size: cover; }
    #hiw .col-sm-3:last-child::after{ content: "";   display: inline-block;   height: 60px;   width: 60px;    overflow: hidden;   border-radius: 50%; border:  5px solid #fff; box-shadow: 0 0 10px #00000055;  position: absolute;   top: 40%;   right: 5%;    background: url('/assets/images/testimonial-per-2.png');    background-position: center;    background-repeat: no-repeat;   background-size: cover; }

/* Menu */
#br-menu::before{   transform: translate(-50%, -48%) scaleX(2.15) scaleY(1.9);}
#br-menu .grid{ display: grid;  grid-template-rows: auto;  grid-template-columns: auto auto; gap: 1.5rem}
#br-menu .item{ border: 2px solid var(--primary-color); border-radius: 5px; background-color: var(--bs-white);  }
#br-menu .item div{ display: inline-block;  vertical-align: middle;}
#br-menu .item-img{ height: 115px;  width: 115px;   overflow: hidden;   border-radius: 10px;    }
#br-menu .item-disc{width: 75%; }
#br-menu .item-disc h3{ font: bold 22px/30px poppins;   display: inline-block;  }
#br-menu .item-disc p{  font: normal 0.9rem/20px poppins; margin-bottom: 0.5rem;}
#br-menu .item-disc input[type=number]{ width: 50px;    border: 2px solid #00000055;    padding: 5px; height: 2.5rem;   }
#br-menu .item-disc input[type=number]:focus-visible{   border: 2px solid #00000055 !important;    }
#br-menu .item-disc .btn{   height: 2.5rem; vertical-align: top;    }
#br-menu .item-disc .btn:focus{ box-shadow: none;   }
#br-menu .buttons .btn:not(:first-child)::before, #br-menu .item-disc .btn::before{   content: "";    }

/* FAQ */
#faq .left::before{  content: url('/assets/images/party-confettis-svg.svg'); position: absolute;    z-index: 50;    transform: rotate(100deg) translate(-40%, 25%)   scale(0.8);   }
#faq .fi-card{  width: 300px;   transform: scale(0.9);  background: transparent;    overflow: hidden;   box-shadow: 0 0 10px #00000077;}
#faq .fi-card::after{  content: "";    position: absolute; top: 0; left: 0;    height: 100%;   width: 100%; background-color: rgba(225,225,225,1);    z-index: -1;    background-size: cover;  filter: blur(100px);}
#faq .fi-card-pic{  border-radius: 50%; height: 50px;    width: auto;    border: 3px solid #fff;    box-shadow: 0 0 5px;    bottom: 2rem;   right: 1rem; }
#faq .fa-solid{ top: 1.5rem;    right: 1.5rem; }
#faq .mobile{   z-index: -2;    top: 50%; right: 25%; transform: translate(-50%, -50%) scale(1.6);  filter: drop-shadow(-7px 0px 5px #00000077);}